/* 总体样式 */
.App {
    height: 100vh;
    background-color: #0d1116;
    text-align: center;
    color: white;
  }

  .container {
    height: 100%;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* header样式 */
  .header-container {
    padding-top: 30px;
  }

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
  }

  .title {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    color: white;
  }
  
  .subtitle {
    font-size: 25px;
    color: white;
  }
  
  .left{
    text-align: left;
    margin-left: 10%;
  }

  .right{
    display: flex;
    background: black;
    border-radius: 16px;
    padding: 0px 30px;
    height: 40px;
    width: 100px;
    margin-right: 10%;
    margin-top: 10px;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }

  /* 内容样式 */
  .connect-DB-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 550px;
  }

  .cta-button {
    height: 45px;
    border: 0;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .connect-DB-button {
    background-image: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #ff8c7f 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
    );
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
  }

  .form-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
  }

  input{
    border: 0;
    border-radius: 12px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    font-size: 26px;
    width: 300px;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-align: center;
    margin-inline: 10px;
  }
  
  input::placeholder {
    color: gray;
    letter-spacing: 2px;
  }
  
  input:focus {
    outline: none;
  }

  .first-row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .second-row{
    display: flex;
    flex-direction: row;
    margin-inline: 10px;
    margin-bottom: 20px;
  }

  .simple-text {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    line-height: 10px;
  }

  /* 底部样式 */
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .footer-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }